body {
    margin: 70px;
    color: white; 
    background-color:#3e464f;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
